{{>admin-header}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <div class="dashboard-wrapper">
            {{!-- <div class="dashboard-ecommerce"> --}}
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"
                                                    class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard
                                                Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                  
                      <div class="ecommerce-widget">


                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                            <!-- recent req.session.orders  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                <form action="/banner" method="post" role="form" enctype="multipart/form-data" onsubmit="return brandValidate()" name="brandform">
                                   
                                  
                                    {{!-- <div class="mb-3"> --}}
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6 mt-3">
                                                <label for="exampleFormControlSelect1">Title 1</label>
                                                 <input id="price" type="text" class="form-control mb-4" name="category">
                                                    </div>
                                                     <div class="col-12 col-md-6 col-lg-6 mt-3">
                                                <label for="exampleFormControlSelect1">Title 2</label>
                                                 <input id="price" type="text" class="form-control mb-4" name="product">
                                                    </div>
                                        </div>

                                               
                                           
                                           <div class="row">
                                           <div class="col-12 col-md-6 col-lg-6">
                                                <label for="exampleFormControlSelect1">upload images</label>
                                               
                                                        <input class="mt-2" type="file" name="image" id="image" multiple>
                                                    </div>
                                              
                                            </div> 


                                                
                                           
                                                <div class="d-flex mt-5">
                                                    <button type="submit" class="btn btn-dark text-right">
                                                        Upload details
                                                    </button>
                                                </div>
                                           <div id="error" class="d-flex justify-content-center">
                                                    <a href="" id="error"></a>
                                                </div>
                                        
                                </form>
                            </div>
                        </div>

                         <div class="row mt-5"> 
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent req.session.orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">All Banners</h5>
                                    <div class="card-body"> 
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        
                                                        <th class="border-0">image</th>
                                                        
                                                        <th class="border-0">status</th>
                                                        <th class="border-0">Action</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each dbBanner}}
                                                    <tr>
  
                                                        <td>{{@index}}</td>
                                                        <td><img style="height: 50px;width: 50px;" src="product-images/banner/{{imageReference.[0]}}" alt=""></td>
                                                      
                                                        <td>{{status}}</td>

                                                        {{#if status}}
                                                        <td><a href="/disablebanner/?_id={{_id}}&status=false"><button class="btn btn-danger">disable</button></a></td>
                                                        <br>
                                                         <td><a href="/editbannerparam/?_id={{_id}}"><button class="btn btn-danger">Edit</button></a></td>
                                                        {{else}}
                                                        <td><a href="/disablebanner/?_id={{_id}}&status=true"><button class="btn btn-success">enable</button></a></td>
                                                        <br>
                                                         <td><a href="/editbannerparam/?_id={{_id}}"><button class="btn btn-danger">Edit</button></a></td>
                                                        {{/if}}
                                                        
                                                    </tr>
                                                     {{/each}}
                                                    {{!-- <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr> --}}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    </div>
               
      
</body>

</html>