{{>admin-header}}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                            mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="text-right mb-5 me-5">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/sales/day">Current day</a>
                            <a class="dropdown-item" href="/sales/month">Current month</a>
                            <a class="dropdown-item" href="/sales/lifetime">Lifetime</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->


            <div class="ecommerce-widget">


                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent orders  -->
                    <!-- ============================================================== -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Sales Report</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">#</th>
                                                    <th class="border-0">Image</th>
                                                    <th class="border-0">Title</th>
                                                    <th class="border-0">ProductIndex</th>

                                                    <th class="border-0">Quantity</th>

                                                    <th class="border-0">ordered user</th>

                                                    <th class="border-0">Coupon</th>

                                                    <th class="border-0">Coupon Discount</th>

                                                    <th class="border-0">Payment Id</th>

                                                    <th class="border-0">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each salesReport}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td><img src="product-images/products/{{products.imageReference.[0]}}.jpg"
                                                            alt=""></td>
                                                    <td>{{products.title}}</td>
                                                    <td>{{products.productIndex}}</td>
                                                    <td>{{orderedUser}}</td>




                                                    <td>{{products.paymentId}}</td>
                                                    <th class="border-0">{{billAmount}}</th>



                                                </tr>
                                                {{/each}}
                                                <tr>


                                                </tr>
                                                <script>
                                                    function swtfin() {
                                                        Swal.fire({
                                                            title: 'Do you want to save the changes?',
                                                            showDenyButton: true,
                                                            showCancelButton: true,
                                                            confirmButtonText: 'Save',
                                                            denyButtonText: `Don't save`,
                                                        }).then((result) => {
                                                            /* Read more about isConfirmed, isDenied below */
                                                            if (result.isConfirmed) {
                                                                Swal.fire('Saved!', '', 'success')
                                                            } else if (result.isDenied) {
                                                                Swal.fire('Changes are not saved', '', 'info')
                                                            }
                                                        })
                                                    }
                                                </script>
                                            </tbody>
                                            <script>
                                                Handlebars.registerHelper('ifEquals', function (arg1, arg2, options) {
                                                    return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
                                                });
                                            </script>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        </body>

        </html>