{{>admin-header}}
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        
                        <div class="row"> 
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent Orders</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th> 
                                                        <th class="border-0">order Id</th>                                                          
                                                        <th class="border-0">ordered user</th>
                                                        <th class="border-0">Deliver Address</th>
                                                        <th class="border-0">Payment methode</th>
                                                        <th class="border-0">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each orders}}
                                                    <tr>
                                                        <td>{{@index}}</td>
                                                       <td>{{_id}}</td>
                                                        <td>{{orderedUser}}</td>
                                                         {{!-- {{#if status}}
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered</td>

                                                         {{else}} --}}
                                                         <td>{{deliveryAddress.houseName}},{{deliveryAddress.postalName}},{{deliveryAddress.pincode}},{{deliveryAddress.district}},{{deliveryAddress.state}},{{deliveryAddress.country}}</td>
                                                         
                                                          <td>{{paymentType}}</td>
                                                         {{!-- {{/if}} --}}
                                                                                                               
                                                       {{!-- <div class="dropdown"> --}}
                                                        <td>
                                                       <button class="btn btn-dark" type="button">
                                                         <a href="/admin-cart/{{_id}}">Details</a>
                                                        </button>
                                                    
                                                        </td>
                                                        
                                                    </tr>
                                                   {{/each}}
                                                    <tr>

                                                    
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                </div>
            </div>
           
        </div>
      
    </div>
   

</body>
 
</html>