{{>admin-header}}
        <div class="dashboard-wrapper">
            {{!-- <div class="dashboard-ecommerce"> --}}
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"
                                                    class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard
                                                Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">


                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                            <!-- recent req.session.orders  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                <form action="/subcategory" method="post" role="form" enctype="multipart/form-data" onsubmit="return subcategoryValidate()" name="subcategoryform">
                                   
                                  
                                    {{!-- <div class="mb-3"> --}}
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <label for="exampleFormControlSelect1">new subcategory</label>
                                                <input id="price" type="text" class="form-control mb-4" name="subcategory"
                                                    >
                                                
                                            </div>
                                            


                                        {{!-- <div class="container">
                                            <div class="row"> --}}
                                                <div id="error" class="d-flex mb-4 text-danger">
                                                    <p id="error">{{msg}}</p>
                                                </div>
                                            {{!-- </div>
                                        </div> --}}
                                        {{!-- <div class="container mt-5">
                                            <div class="row"> --}}
                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-dark text-right">
                                                        Upload details
                                                    </button>
                                                </div>
                                </form>
                            </div>
                        </div>

                         <div class="row mt-5"> 
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent req.session.orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">All sub categories</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">title</th>
                                                        <th class="border-0">date created</th> 
                                                         <th class="border-0">Action</th>                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each dbSubcategory}}
                                                    <tr>
                                                        <td>{{@index}}</td>
                                                        
                                                        <td>{{name}}</td>
                                                        <td>{{date}}</td>

                                                        {{#if status}}
                                                       <td><a href="/deletesubcategory/?name={{name}}&status=false" onclick="event.preventDefault(); 
                                                        new swal({
                                                       title: 'Are you sure?',
                                                        text: 'Once disabled, you will not be able to use this categoryagain.',
                                                         icon: 'warning',
                                                        buttons: ['Cancel', 'Disable'],
                                                                   dangerMode: true,
                                                              }).then((willDisable) => {
                                                        if (willDisable) {
                                                    window.location.href = '/deletesubcategory/?name={{name}}&status=false';
                                                        }
                                                       })"><button class="btn btn-danger">disable</button></a></td>
                                                        {{else}}
                                                        <td><a href="/deletesubcategory/?name={{name}}&status=true"><button class="btn btn-success">enable</button></a></td>
                                                        {{/if}}
                                                      
                                                        
                                                        
                                                    </tr>
                                                    {{/each}}
                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                       



                    </div>


                    <!-- jquery 3.3.1 -->

                   

                
</body>
<script>
    function subcategoryValidate() {
    const subcategoryInput = document.forms["subcategoryform"]["subcategory"];
    const errorElement = document.getElementById("error");
    
    if (subcategoryInput.value.trim() === "") {
        errorElement.innerText = "Please enter a new subcategory.";
        subcategoryInput.focus();
        return false;
    } else {
        errorElement.innerText = "";
        return true;
    }
}

</script>

</html>