{{>admin-header}}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                            mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="text-right mb-5 me-5">

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Details
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/sales/day">Current day</a>
                            <a class="dropdown-item" href="/sales/month">Current month</a>
                            <a class="dropdown-item" href="/sales/lifetime">Lifetime</a>
                        </div>
                        <a href="/download-excel"><button class="btn btn-secondary">Download pdf</button></a>
                        <button onclick="printTable()" class="btn btn-secondary">Print</button>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->


            <div class="ecommerce-widget">


                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent req.session.orders  -->
                    <!-- ============================================================== -->

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Sales Report</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table" id="my-table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">#</th>
                                                    <th class="border-0">Date</th>
                                                    <th class="border-0">Title</th>
                                                    <th class="border-0">ProductIndex</th>
                                                    <th class="border-0">ordered user</th>
                                                    <th class="border-0">quantity</th>
                                                    <th class="border-0">price</th>





                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each salesReport}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{deliveryDate}}</td>
                                                    <td>{{products.title}}</td>
                                                    <td>{{products.productIndex}}</td>
                                                    <td>{{orderedUser}}</td>
                                                    <td>{{products.quantity}}</td>
                                                    <td>{{products.price}}</td>
                                                </tr>
                                                {{/each}}
                                                <tr>


                                                </tr>
                                                <script>
                                                    function swtfin() {
                                                        Swal.fire({
                                                            title: 'Do you want to save the changes?',
                                                            showDenyButton: true,
                                                            showCancelButton: true,
                                                            confirmButtonText: 'Save',
                                                            denyButtonText: `Don't save`,
                                                        }).then((result) => {
                                                            /* Read more about isConfirmed, isDenied below */
                                                            if (result.isConfirmed) {
                                                                Swal.fire('Saved!', '', 'success')
                                                            } else if (result.isDenied) {
                                                                Swal.fire('Changes are not saved', '', 'info')
                                                            }
                                                        })
                                                    }
                                                </script>
                                            </tbody>
                                            <script>
                                                Handlebars.registerHelper('ifEquals', function (arg1, arg2, options) {
                                                    return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
                                                });
                                            </script>
                                            {{!--
                                            <script>
                                                function down() {
                                                    $.ajax({
                                                        url: '/download-excel',
                                                        method: 'GET',
                                                        success: (responce) => {
                                                            console.log("hi")
                                                        }
                                                    })
                                                }

                                            </script> --}}
                                            <script>
                                                function printTable() {
                                                    var table = document.getElementById("my-table");
                                                    var newWin = window.open('', 'Print-Window');
                                                    newWin.document.open();
                                                    newWin.document.write('<html><body onload="window.print()">' + table.outerHTML + '</html>');
                                                    newWin.document.close();
                                                    setTimeout(function () { newWin.close(); }, 10);
                                                }

                                            </script>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        </body>

        </html>