{{>admin-header}}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                            mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">


                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent req.session.orders  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Recent req.session.orders</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">#</th>
                                                    <th class="border-0">Image</th>
                                                    <th class="border-0">title</th>
                                                    <th class="border-0">productIndex</th>
                                                    <th class="border-0">price</th>
                                                    <th class="border-0">quantity</th>
                                                     
                                                    <th class="border-0">ordered user</th>

                                                    <th class="border-0">Order status</th>
                                                   
                                                    <th class="border-0">Payment Id</th>

                                                    <th class="border-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each resp}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td><img style="width: 100px;height: 130px;" src="product-images/products/{{products.imageReference.[0]}}"></td>
                                                    <td>{{products.title}}</td>
                                                    <td>{{products.productIndex}}</td>
                                                     <td>{{products.price}} per 1 unit</td>
                                                      <td>{{products.quantity}}</td>
                                                    <td>{{orderedUser}}</td>
                                                    {{!-- {{#if status}}
                                                    <td><span class="badge-dot badge-success mr-1"></span>Delivered</td>

                                                    {{else}} --}}

                                                    {{#if (eq products.status "Return Pending")}}
                                                    <td><span class="badge-dot badge-warning mr-1"></span>Return Pending</td>


                                                    {{/if}}
                                                    {{#if (eq products.status "Cancelled")}}
                                                    <td><span class="badge-dot badge-danger mr-1"></span>Cancelled
                                                    </td>

                                                    {{/if}}
                                                    {{#if (eq products.status "Pending")}}
                                                    <td><span class="badge-dot badge-secondary mr-1"></span>Pending </td>

                                                    {{/if}}
                                                    {{#if (eq products.status "Delivered")}}
                                                    <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>

                                                    {{/if}}
                                                    {{#if (eq products.status "Return Accepted")}}
                                                    <td><span class="badge-dot badge-secondary mr-1"></span>Returned </td>

                                                    {{/if}}
                                                    {{#if (eq products.status "Order Confirmed")}}
                                                    <td><span class="badge-dot badge-secondary mr-1"></span>Order Confirmed</td>

                                                    {{/if}}

                                                    {{#if products.paymentId}}
                                                    <td>{{products.paymentId}}</td>


                                                    {{else}}
                                                    <td>Payment not completed</td>
                                                    {{/if}}

                                                  
                                                    {{#if (eq products.status "Return Pending")}}
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-dark dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                Return Status
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuButton">

                                                                <a class="dropdown-item" onclick="swtfn()"
                                                                    href="/status/?id={{_id}}&status=Return Accepted&productIndex={{products.productIndex}}&paymentId={{products.paymentId}}&paymentType={{paymentType}}">Accept</a>
                                                                <a class="dropdown-item"
                                                                    href="/status/?id={{_id}}&status=Delivered&productIndex={{products.productIndex}}">Decline</a>
                                                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {{/if}}
                                                     {{#if (eq products.status "Cancelled")}}
                                                     <td>Order Cancelled</td>
                                                     {{/if}}
                                                     {{#if (eq products.status "Pending")}}
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-dark dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                status
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuButton">

                                                                <a class="dropdown-item" onclick="swtfn()"
                                                                    href="/status/?id={{_id}}&status=Order Confirmed&productIndex={{products.productIndex}}">Confirm Order</a>
                                                               
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {{/if}}
                                                     {{#if (eq products.status "Delivered")}}
                                                    <td>Delivered </td>

                                                    {{/if}}
                                                    {{#if (eq products.status "Return Accepted")}}
                                                    <td>Product Returned</td>

                                                    {{/if}}
                                                     {{#if (eq products.status "Order Confirmed")}}
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-dark dropdown-toggle" type="button"
                                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                status
                                                            </button>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="dropdownMenuButton">

                                                                
                                                                <a class="dropdown-item"
                                                                    href="/status/?id={{_id}}&status=Delivered&productIndex={{products.productIndex}}">Delivered</a>
                                                                <a class="dropdown-item"
                                                                    href="/status/?id={{_id}}&status=Cancelled&productIndex={{products.productIndex}}&paymentId={{products.paymentId}}&paymentType={{paymentType}}">Cancelled</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    {{/if}}

                                                </tr>
                                                {{/each}}
                                                <tr>


                                                </tr>
                                                <script>
                                                    function swtfin() {
                                                        Swal.fire({
                                                            title: 'Do you want to save the changes?',
                                                            showDenyButton: true,
                                                            showCancelButton: true,
                                                            confirmButtonText: 'Save',
                                                            denyButtonText: `Don't save`,
                                                        }).then((result) => {
                                                            /* Read more about isConfirmed, isDenied below */
                                                            if (result.isConfirmed) {
                                                                Swal.fire('Saved!', '', 'success')
                                                            } else if (result.isDenied) {
                                                                Swal.fire('Changes are not saved', '', 'info')
                                                            }
                                                        })
                                                    }
                                                </script>
                                            </tbody>
                                            <script>
                                                Handlebars.registerHelper('ifEquals', function (arg1, arg2, options) {
                                                    return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
                                                });
                                            </script>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        </body>

        </html>