{{>admin-header}}
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        
                        <div class="row"> 
                       
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent Orders</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Username</th>
                                                        <th class="border-0">Name</th>
                                                        <th class="border-0">Email</th>
                                                        <th class="border-0">Phone</th>
                                                        <th class="border-0">Status</th>
                                                        <th class="border-0">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each users}}
                                                    <tr>
                                                        <td>{{@index}}</td>
                                                        <td>{{username}}</td>
                                                        <td>{{name}}</td>
                                                        <td>{{email}}</td>
                                                        <td>{{phone}}</td>
                                                         {{#if status}}
                                                        <td><span class="badge-dot badge-success mr-1"></span>Active </td>
                                                        <td><a href="/delete/{{_id}}"><button type="button" class="btn btn-dark me-2">delete</button></a><a href="/block/{{_id}}"><button type="button" class="btn btn-danger">block</button></a></td>
                                                         {{else}}
                                                        <td><span class="badge-dot badge-danger mr-1"></span>Blocked</td>
                                                        <td><a href="/delete/{{_id}}"><button type="button" class="btn btn-dark me-2">delete</button></a><a href="/block/{{_id}}"><button type="button" class="btn btn-success">unblock</button></a></td>
                                                         {{/if}}
                                                        
                                                    </tr>
                                                   {{/each}}
                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                </div>
            </div>
 
        </div>
     
    </div>
 
</body>
 
</html>