  <!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/2owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css2/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css2/style.css">
	{{>user-header}}
    <style>
      
.md-select {
  *, :after, :before {
    box-sizing: border-box;
  }
  /*Demo css do not add to your project*/

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*--*/

  display: block;
  margin: 10px 0 8px 0;
  padding-bottom: 2px;
  /*  position: relative;*/
  min-width: 180px;

  [type=button] {
    background: #fff;
    border-color: rgba(0, 0, 0, 0.12); 
    border-width: 0 0 1px 0;
    color: rgba(0, 0, 0, 0.73);
    cursor: default;
    display: block;
    line-height: 48px;
    padding: 2px 0 1px 16px;
    position: relative;
    text-align: left;
    text-shadow: none;
    width: 100%;
    z-index: 1;
    outline: none;
    overflow: hidden;


    &:focus, &:hover {
      background: rgba(0,0,0,0.1);
    }
    &:after {
      content: '\25be';
      float: right;
      padding-right: 16px;
    }
  }
  ul[role=listbox] {
    background-color: white;
    cursor: default;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;

    li {
      height: 48px;
      margin: 0;
      padding: 10px 16px;
      outline: none;
      overflow: hidden;

      &:focus, &:hover, &.active {
        background: rgba(0,0,0,0.1);
      }
    }
  }

  &.active ul {
    max-height: 200px;
    overflow: auto;
    padding: 8px 0 16px 0px;
    z-index: 2;
    transition: all .2s ease
  }
}

        .gradient-custom-2 {
/* fallback for old browsers */
background: #fbc2eb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}
    </style>
<!--===============================================================================================-->
</head>

	
	<!-- Header -->
	


    {{!-- ////////////////////////////////////////////////////////////////CHECKOUT//////////////////////////////////////////////////// --}}
  



  <div class="container mt-5">
  <div class="py-5 text-center">
    
    <h2>Checkout form</h2>
   
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{length}}</span>
      </h4>
      <ul class="list-group mb-3">
        
        {{#each userdone}}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{product.title}}</h6>
            <small class="text-muted">{{product.description}}</small>
          </div>
          <span class="text-muted">{{total}}</span>
        </li>
		{{/each}}
       
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (INR)</span>
          <strong>{{ghh}}Rs</strong>
        </li>
      </ul>

      
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
	   {{!-- <form  action="/checkoutbilling" name="sub" method="post" onsubmit="return checkoutValidate()"> --}}
	   <form action="" method="" id="checkoutForm" name="sub" >

              
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input id="name" name="name" type="text" class="form-control" value={{name}} pattern="^[a-zA-Z]+$" title="Name can only contain letters (no spaces)" required></div>
                    <div class="col-md-6"><label class="labels">username</label><input id="name" type="text" name="username" class="form-control" value={{username}}  pattern="[a-zA-Z0-9_-]{3,16}$" title="Username must be between 3 and 16 characters and can only contain letters, numbers, underscores, and hyphens." required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input id="phone" type="text" class="form-control" name="phone" value={{phone}} pattern="[0-9]{10}$" title="Mobile number must be 10 digits." required></div>
                     
                    <div class="col-md-12"><label class="labels">Email ID</label><input id="email" type="email" name="email" class="form-control" placeholder="enter email id" value={{email}} pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" title="Please enter a valid email address."></div>
                   
                    <div class="col-md-6 mb-2"><label class="labels">Address</label></div>
                    <div class="col-md-12 mb-2"><input id="housename" type="text" name="housename" placeholder="Enter your housename" class="form-control" value={{selectedAddress.[0].address.housename}} pattern="^[A-Za-z]+$" title="housname can only contain letters and spaces." required></div>
					 <div class="col-md-6 mb-2"><input id="postalname" name="postalname" type="text" class="form-control" placeholder="Enter your postalName" value={{selectedAddress.[0].address.postalname}} pattern="^[A-Za-z]+$" title="postalname can only contain letters and spaces." required></div>
                    <div class="col-md-6 mb-2"><input id="pincode" type="number" name="pincode" class="form-control" placeholder="Enter your pincode" value={{selectedAddress.[0].address.pincode}} pattern="^\d{6}$" title="Mobile number must be 10 digits." required></div>
					 <div class="col-md-6 mb-2"><input id="district" name="district" type="text" class="form-control" placeholder="Enter your district" value={{selectedAddress.[0].address.district}} pattern="^[A-Za-z]+$" title="district can only contain letters and spaces." required></div>
                    <div class="col-md-6 mb-2"><input id="state" type="text" name="state" class="form-control" placeholder="Enter your state"  value={{selectedAddress.[0].address.state}} pattern="^[A-Za-z]+$" title="state can only contain letters and spaces." required></div>
					 <div class="col-md-6 mb-2"><input id="country" name="country" type="text" class="form-control" placeholder="Enter your country" value={{selectedAddress.[0].address.country}} pattern="^[A-Za-z]+$" title="country can only contain letters and spaces." required></div>
                
                </div>

             

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <div class="md-select">

 

</div>
            <select class="form-control" name="checkout" id="checkout">
				 <option>cash on delivery</option> 
				 <option>Pay using razorpay</option>
				 {{#if walletValid}}    
				 <option>wallet</option>   
				 {{/if}}                             
            </select>
          </div>
         
        </div>
		{{#if checkDouble}}
		<div class="mt-5 text-center"><button onclick="return validateForm()" class="btn btn-primary profile-button"  type="submit">Continue</button></div>

		{{else}}
		<div class="mt-5 text-center">Empty Cart</div>
		{{/if}}
		
				              
								<div class="container">
                                <div class="row">
                                <div class="d-flex justify-content-center">
                                    
									<p id="err"></p>	
									
                                </div>
                                </div>
                                </div>
							
				                <div class="mt-5">
								 <a href="/address">saved addresses</a>
								</div>
                       </div>
					            
		
       
  </div>
     <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
	$('#checkoutForm').submit((e)=>{
		e.preventDefault()
		$.ajax({
			url:'/checkoutbilling',
			method:'POST',
			data:$('#checkoutForm').serialize(),
			success:(order)=>{
				console.log("bey")
				if(order.COD){
					location.href='/confirm'
				}else if(order.WALLET){
location.href='/confirm'
				}else{
					razorpayPayment(order)
				}
				
			}
			
		})
	})
	function razorpayPayment(order){
		var options = {
    "key": "rzp_test_03pins9a8mVlgN", // Enter the Key ID generated from the Dashboard
    "amount": "500", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "cozastore", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       
    
		verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }

};
    	var rzp1 = new Razorpay(options);
	    rzp1.open();
	}
	function verifyPayment(payment,order){
		$.ajax({
			url:'/verify-payment',
			data:{
				payment,
				order
			},
			method:"POST",
			success:(response)=>{
				
				if(response.status){
					location.href='/confirm'
				}else{
                   alert('payment failed')
				}
				
			}
		})
		
	}
</script>




  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>






{{!--/////////////////////////////////////////////// {{FOOTERR}} ////////////////////////////////////////////////////--}}





{{>user-footer}}
    


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
										</a>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	




	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->

	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->

	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->

	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->

	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

    <script src="js2/jquery-3.3.1.min.js"></script>
    <script src="js2/popper.min.js"></script>
    <script src="js2/bootstrap.min.js"></script>
    <script src="js2/owl.carousel.min.js"></script>
    <script src="js2/main.js"></script>
	<script>
		$('.md-select').on('click', function(){
  $(this).toggleClass('active')
})

$('.md-select ul li').on('click', function() {
  var v = $(this).text();
  $('.md-select ul li').not($(this)).removeClass('active');
  $(this).addClass('active');
  $('.md-select label button').text(v)
})
	</script>
<!--===============================================================================================-->


</body>
</html>