<!DOCTYPE html>
<html lang="en">
<style>
	input[type="text"]::placeholder {

		/* Firefox, Chrome, Opera */
		text-align: center;
	}
</style>


{{>user-header}}

<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
	<div class="s-full js-hide-cart"></div>

	<div class="header-cart flex-col-l p-l-65 p-r-25">
		<div class="header-cart-title flex-w flex-sb-m p-b-8">
			<span class="mtext-103 cl2">
				Your Cart
			</span>

			<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
				<i class="zmdi zmdi-close"></i>
			</div>
		</div>

		<div class="header-cart-content flex-w js-pscroll">
			<ul class="header-cart-wrapitem w-full">
				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-01.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							White Shirt Pleat
						</a>

						<span class="header-cart-item-info">
							1 x $19.00
						</span>
					</div>
				</li>

				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-02.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Converse All Star
						</a>

						<span class="header-cart-item-info">
							1 x $39.00
						</span>
					</div>
				</li>

				<li class="header-cart-item flex-w flex-t m-b-12">
					<div class="header-cart-item-img">
						<img src="images/item-cart-03.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt p-t-8">
						<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
							Nixon Porter Leather
						</a>

						<span class="header-cart-item-info">
							1 x $17.00
						</span>
					</div>
				</li>
			</ul>

			<div class="w-full">
				<div class="header-cart-total w-full p-tb-40">
					Total: $75.00
				</div>

				<div class="header-cart-buttons flex-w w-full">
					<a href="shoping-cart.html"
						class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
						View Cart
					</a>

					<a href="shoping-cart.html"
						class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
						Check Out
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- breadcrumb -->
<div class="container mt-5">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg mt-5">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shoping Cart
		</span>
	</div>
</div>


<!-- Shoping Cart -->

<div class="container mt-5">
	<div class="row mt-5">

		<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
			<div class="m-l-25 m-r--38 m-lr-0-xl">
				<button
					class="btn-secondary mb-5 flex-c-m stext-101 cl0 size-116 bg10 bor14 hov-btn3 p-lr-15 trans-04 pointer">
					<a href="/products">
						<h6 class="text-dark">continue shopping</h6>
					</a>
				</button>
				
				<div class="wrap-table-shopping-cart mt-5">

					<table class="table-shopping-cart">
						<tr class="table_head">
							<th class="column-1">Product</th>
							<th class="column-2"></th>
							<th class="column-3">Price</th>
							<th class="column-4">Quantity</th>
							<th class="column-5">Total</th>
							<th class="column-5">Action</th>
						</tr>
						{{#each userdone}}
						<tr class="table_row">
							<td class="column-1">
								<div class="how-itemcart1">
									<img src="product-images/products/{{product.imageReference.[0]}}.jpg" alt="IMG">
								</div>
							</td>
							<td class="column-2">{{product.title}}</td>
							<td id="price1" class="column-3">{{product.price}}</td>
							<td class="column-4">
								<div id="mainId">
									{{#if product.st}}
									<h6>removed</h6>

									{{/if}}
									{{#if product.ot}}
									<h6>out of stock</h6>
									{{/if}}
									{{#if product.dt}}

									<div class="wrap-num-product flex-w m-l-auto m-r-0">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<button onclick="changeQuantity('{{_id}}','{{productId}}',-1)"><i
													class="fs-16 zmdi zmdi-minus"></i></button>
										</div>

										<input id="tot1" class="mtext-104 cl3 txt-center num-product" type="number"
											name="quantity" value={{quantity}}>

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<button onclick="changeQuantity('{{_id}}','{{productId}}',1)"><i
													class="fs-16 zmdi zmdi-plus"></i></button>
										</div>
									</div>


									{{/if}}
									
								</div>
							</td>

							<td id="total1" class="column-5">
								{{total}}
							</td>
							<td class="column-5"><button class="btn btn-danger"><a
										href="/deletecart/?productId={{productId}}&quantity={{quantity}}&colour={{colour}}&size={{size}}">delete</a></button></a>
							</td>

						</tr>

						{{/each}}
					</table>
				</div>

				<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
					<div class="flex-w flex-m m-r-20 m-tb-5">
						<form action="/applyhelo" method="post">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text"
								id="couponform11" name="coupon" placeholder="Coupon Code">

							<div
								class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
								<button type="submit">Apply coupon</button>
							</div>

						</form>
						{{#if appliedCoupon.validity}}

						<h5 class="ms-5 text-success mb-4">Coupon {{appliedCoupon.code}} is Active</h5>
						{{else}}
						<h5 class="ms-5 text-danger mb-4">{{couponErrorMsg}}</h5>
						{{/if}}
					</div>


					{{!-- <div
						class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
						Update Cart
					</div> --}}
				</div>

			</div>
		</div>






















		<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
			<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
				<h4 class="mtext-109 cl2 p-b-30">
					Cart Totals
				</h4>

				<div class="flex-w flex-t bor12 p-b-13">
					<div class="size-208">
						<span class="stext-110 cl2">
							Subtotal:
						</span>
					</div>

					<div class="size-209">
						<span class="mtext-110 cl2">
							{{ghh}}
						</span>
					</div>
				</div>

				




				<div id="checkoutBt">
					{{#if userdone.bt}}
					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
						<a href="/checkout">Proceed to Checkout</a>
					</button>
					{{else}}
					<h6 class="text-danger">Please update the Cart</h6>
					{{/if}}
				</div>


			</div>
			<br>
			<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
				<h4 class="mtext-109 cl2 p-b-30">
					Wallet Totals
				</h4>

				<div class="flex-w flex-t bor12 p-b-13">
					<div class="size-208">
						<span class="stext-110 cl2">
							Amount:
						</span>
					</div>

					<div class="size-209">
						<span class="mtext-110 cl2">
							{{dbWallet}}
						</span>
					</div>
				</div>

				




				


			</div>
		</div>

	</div>
	
</div>





<!-- Footer -->
{{>user-footer}}


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

<!--===============================================================================================-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
	function changeQuantity(cartId, productId, count) {
		$.ajax({
			url: '/change-product-quantity',
			data: {
				cart: cartId,
				product: productId,
				count: count
			},
			method: 'POST',
			success: (responce) => {
				console.log(responce)

				const quantity = responce.quantity;
				const priceTag = document.getElementById('price1')
				const price = priceTag.innerHTML
				const total = price * quantity;
				const TotalTag = document.getElementById('total1')
				const inputTotal = document.getElementById('tot1')


				var dyValue = quantity
				console.log(dyValue)

				TotalTag.innerHTML = total
				const mainI = document.getElementById('mainId')
				if (quantity == 0) {

					mainI.innerHTML = "<h6>removed</h6>"
					document.getElementById('checkoutBt').innerHTML=`	<h6 class="text-danger">Please update the quantity</h6>`
				} else {
					var dyValue = quantity
					console.log(dyValue)
					mainI.innerHTML = `<div class="wrap-num-product flex-w m-l-auto m-r-0">
									<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
										<button onclick="changeQuantity('${responce.cart}','${responce.productId}',-1)"><i
												class="fs-16 zmdi zmdi-minus"></i></button>
									</div>

									<input id="tot1" class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value=${dyValue}>

									<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
										<button onclick="changeQuantity('${responce.cart}','${responce.productId}',1)"><i
												class="fs-16 zmdi zmdi-plus"></i></button>
									</div>
								</div>`
					document.getElementById('checkoutBt').innerHTML=`<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
						<a href="/checkout">Proceed to Checkout</a>
					</button>`
				}
			}


		})
	}
</script>


<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->

<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->

<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->


</body>

</html>